{{template "header" .}}

{{define "title"}}Все пользователи{{end}}

{{define "main"}}
    {{range .Users}}
        <table cellpadding="10px">
            <tr >
                <th>Id</th>
                <th>Email</th>
                <th>Name</th>
                <th>Surname</th>
            </tr>
            <tr>
                <td>{{.id}}</td>
                <td>{{.Email}}</td>
                <td>{{.Name}}</td>
                <td>{{.Surname}}</td>
            </tr>
        </table>
        <br/>
    {{else}}
        <div>
            <h3>Пользователей пока нет</h3>
        </div>
    {{end}}
{{end}}
